#masthead{
         background:fuchsia;
	 height:250px;}
	 
#top_nav{
         background-color:aqua;
         height:30px;
         text-align:center;}

#left_col{
         background-color:lime;
         width:250px;
         height:635px;}

#page_content{
        height:635px;
         padding-left:10px;
         background-image:}
	 
	 
#footer{
        height:35px;
	background-color;yellow;
	text-align:center;}